html {
  scroll-behavior: smooth;
}
*{
  font-family: "roboto";
}
.what,.importance,body{
  background-color:#FBFCF8;
  transition: 1s;
}
p,h1,h2,button{
  transition: 1s;
}
.nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  background: white;
  padding:10px;
  height: 8vh;
  width:100%;
  place-items: center;
  transition: 1s;
  top:0;
  overflow:hidden;  
}

.landing {
  padding: 10px;
  height: 65vh;
  background-color: #e3989c; 
  display:flex;
  justify-content: center;
  align-items: center; 
  font-family: "roboto";
  transition: 1s;
}
.landing>img{
  padding-left: 20px;

}
.landing>.text{
  padding-right: 20px;
}
  .landing>p{
    font-weight: bold;
    font-size: 17.5px;
  }
  .landing>h1{
    letter-spacing: 1px;
  }

.what{
  margin:0px 200px 0px 200px;
  display:flex;
 align-items: center;
  flex-direction:column;
}

.importance{
 margin:0px 200px 0px 200px;
  display:flex;
   align-items: center;
    flex-direction:column;
}
a{
  position: relative;
  font-size: 20px;  
  color: rgba(0, 0, 0, 0.5);
  padding: 0.7em 1em;
  
}
a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 17%;
  bottom: 5px;
  transition: 0.3s;
}

a:hover{
  color: black;
  
}
a:hover:after{
  width: 70%;
}
h2,h1{
  width: 100%;
  text-align: center;
}
.progess-bar{
position: fixed;
  width: 100%;
  height: 1vh;
  transition: 1s;
  z-index: 1;
}
.filled{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, red, orange);
}
#ital{
  font-style: italic;
}
#contactForm{
  position: fixed;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

#blur.active{
  filter: blur(20px);

}
#contactForm.active{
  visibility: visible;
  opacity: 1;
  transition: .5s;
}
#darkModeColor.active{
  h1,p,h2{
    color:white;
     transition: 1s;
  }
  a{
    color:#ada8a8;
  }
  .nav{
    background-color: black;
     transition: 1s;
  }
  a:hover{
    color:white;
  }
  a:after{
    background-color: white;  
  }
  .what,.importance,#contactForm,html{
    background-color:black;
     transition: 1s;
  }
  .landing{
    background-color: purple;
     transition: 1s;
  }
  .filled{
    background-image: linear-gradient(to right, blue, skyblue);
  }
  button{
    border-color: white;
    color:white;
    background-color: black;
  }
  .inputBox input, .inputBox textarea{ 
    border: 1px solid white;
    background: lightgray;
    color: white;
  }
  .inputBox span{
    color:white;
  }
  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span,
  .inputBox textarea:focus ~ span,
  .inputBox textarea:valid ~ span{
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  .about {
    background-color: #2658ed;
    transition:1s;
  }
  .about button:hover {
    background-color: #555;
  }

  background-color: black;
   transition: 1s;
}
#contactFormForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:30px;
}
#contactFormForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:30px;
}
.inputBox{
 position: relative;
  display: flex;
  width:250px;
}
.inputBox input, .inputBox textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: .5s;
}
.inputBox span{
  position: absolute;
  left:0;
  padding:10px;
  pointer-events: none;
  font-size: 1em;
  color:black;
  text-transform: uppercase;
  transition: .5s;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span{
  color:lightblue;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  letter-spacing: .2em;
}
.inputBox input:focus,
.inputBox input:valid,
.inputBox textarea:focus,
.inputBox textarea:valid{
  border: 1px solid lightblue;
}
.about {
  background-color: #F9A826;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 35px 20px 10px 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,1),
    -6px -6px 10px -1px rgba(255,255,255,1),
    6px 6px 10px -1px rgba(0,0,0,1),
    -6px -6px 10px -1px rgba(255,255,255,1);
  max-height: 130px;
  overflow: hidden;
  transition: max-height 0.5s;
  
}
.about.activeMission{
  max-height: 788px;
}
.aboutSign{
  margin-bottom:5px;
}
.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.about p {
  font-size: 16px;
  margin-bottom: 20px;
}
.aboutMission {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.aboutMission:hover {
  background-color: #555;
}
aboutSign {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.aboutSign:hover {
  background-color: #555;
}
.about.activeSign{
  max-height: 1000px;
}
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}
.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
  justify-content: center;
}
.petition-para{
  width:100%;
  padding-right:10px;
}
.signatures{
  width: 45%;
  padding-right:10px;
}